<div class="container">
    <p class="playersnav">
        <a routerLink="/players/list">List</a>
        <span> | </span>
        <a routerLink="/players/addplayer">Add Player</a>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Preferred Position</th>
                <th  class="text-danger">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Luis Suarez</td>
                <td>Forward</td>
                <td><a href="#" class="btn btn-danger">DELETE</a></td>
            </tr>
            <tr>
                <td>Neymar Jr.</td>
                <td>Forward</td>
                <td><a href="#" class="btn btn-danger">DELETE</a></td>
            </tr>
        </tbody>  
    </table> 
</div>