<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Edit Animal</title>
	</head>
	<body>
		<h1>Edit Animal</h1>
		<form action="/animals/<%= animal.id %>" method="post">
			<label for="name">Animal's Name:</label>
			<input type="text" name="name" value="<%= animal.name %>"><br><br>
			<label for="legs">Number of legs:</label>
			<input type="number" name="legs" value="<%= animal.legs %>"><br><br>
			<label for="species">Species:</label>
			<input type="text" name="species" value="<%= animal.species %>"><br><br>
			<button>Edit</button>
		</form>
		<button><a href="/">All Animals</a></button>
	</body>
</html>
