<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Animal</title>
	</head>
	<body>
		<h1>Selected Animal:</h1>
		<h2>name: <%= animal.name %></h2>
		<h3>number of legs: <%= animal.legs %></h3>
		<h3>species: <%= animal.species %></h3>
		<h3>is it dangerous: <%= animal.dangerous %></h3>
		<button><a href="/">Back to animals</a></button>
	</body>
</html>
