<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dojo Survey</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div id="form">
			<form action="/result" method="post">
				<h1>Dojo Survey</h1>
				<p>
					<label for="name">Name:</label>
					<input type="text" name="name" value="">
				</p>
				<p><label for="location">Dojo Location:</label>
				<select name="location">
				  <option value="San Jose">San Jose</option>
				  <option value="Seattle">Seattle</option>
				  <option value="Online">Online</option>
				</select></p>
				<p><label for="language">Favourite Language:</label>
				<select name="language">
				  <option value="Python">Python</option>
				  <option value="JavaScript">JavaScript</option>
				  <option value="Ruby">Ruby</option>
				</select></p>
				<label for="comment">Comments (optional):</label>
				<p><input type="text" name="comment" value=""></p>
				<input type="submit" name="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
