<app-nav></app-nav>
<div class="container">
    <h2>Welcome {{usersession}}</h2>
    <form class="form-inline">
        <input type="text" name="title" placeholder="Title" class="form-control">
        <textarea rows="1" cols="90" class="form-control" placeholder="description"></textarea>
        <select class="form-control">
            <option value="1">112543</option>
            <option value="2">2</option>
        </select>
        <button class="btn btn-default"> Add to List </button>
    </form>
    <br>
    <p>Before I die I want to..</p>
    <br>
    <p>List of users (Click to view profile):</p>
    <p><a href="#">John</a></p>
    <p><a href="#">Ron</a></p>  
</div>

    