/* You can add global styles to this file, and also import other style files */
.playersnav a, .playersnav span{
    font-size: 1.5em;
    color: black !important;
}
.container{
    text-align: left;
    width: 80%;
}
